<section class="flex flex-col md:flex-row gap-x-8 justify-center items-center">
<div class="[&>p]:mb-4 [&>p>strong]:text-blue-300 [&>p>strong]:font-semibold text-pretty">
    <p>
            Me llamo úrbez Modrego, tengo 25 años y soy de Zaragoza, España. Estudio <strong>Desarrollo de Aplicaciones Web </strong> en el Instituto I.E.S. Itaca. 
    </p>
    
    <p>
        Siempre estoy buscando oportunidades para <strong>crecer</strong> como profesional y prepararme para el mundo laboral.
    </p>
    
    <p>
        <strong>Estudie Telecomunicaciones en Santo Domingo de Silos</strong>. Me apasiona el mundo de los videojuegos, y en mi tiempo libre, me gusta hacer deporte, pasar tiempo con mi familia y hacer planes con mis amigos.
    </p>

    <p class="text-pretty">
        Todos los días continúo desarrollando mis habilidades como dev <strong>Front-End</strong>, participando en proyectos y haciendo cursos que me permitan <strong>aprender y crecer</strong> como programador. 
    </p>
</div>
<img src="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExc2tjbzZ3czJwbXg4ajd5MzQ0dHU5YTY0bGM0NTEyeWdwZnR1dWQ2NCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/RneIcLEosVuta/giphy.gif" alt="yo" class="rounded-full size-64">
</section>
